@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  height: 500px;
  width: 100%;
}

.first {
  margin: 5px;
  border: 2px solid black;
  height: 30px;
  width: 40px;
  padding: 0px 8px;
}

.second {
  margin: 5px;
  border: 2px solid black;
  height: 30px;
  width: 50px;
  padding: 0px 8px;

}

.third {
  margin: 5px;
  padding: 0px 6px;
  border: 2px solid black;
  height: 30px;
  width: 25px;
}

.forth {
  margin: 5px;
  border: 2px solid black;
  height: 30px;
  width: 60px;
  padding: 0px 4px;
}